<div class="author">
  <h1 class="author__heading">Blog na NodeJS</h1>
  <p class="author__body">Docięta</p>
</div>

<img
  src="/img/img-zdjeciegrudybezciuchow.jpg"
  alt="piesek lea"
  class="hero-image"
  width="981"
  height="528"
/>
<h2 class="aritcles__heading">Najnowsze Posty</h2>

<section class="aritcles-ul">
  <ul class="article-ul">
    <% data.forEach(post => { %>

    <li>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list__date"
          ><%= post.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>

  <!-- <script>
    function changePage() {
      var previousPage = localStorage.getItem("previousPage")
      if (document.getElementById("butt").value === "Najnowsze posty") {
        document.getElementById("butt").value = "Poprzednie posty"
        document.getElementById("butt").href = "/?page=<%= nextPage %>"
      } else {
        document.getElementById("butt").value = "Najnowsze posty"
        document.getElementById("butt").href = previousPage || "/"
      }
    }
  </script> -->
  
  <!-- <#% if (nextPage !== null || nextPage !== 2,3,4,5) { %> 
    <a href="/?page=<%= nextPage %>"><input onclick="changePage()" value="Poprzednie posty" type="button" id="butt"></a>
    <#% } %>
    <#% if (nextPage !== null && nextPage == 2) {  %>
    <a href="/?page=1"><input onclick="changePage()" value="1" type="button" id="butt"></a>
    <a href="/?page=2"><input onclick="changePage()" value="2" type="button" id="butt"></a>
    <a href="/?page=3"><input onclick="changePage()" value="3" type="button" id="butt"></a>
  <#% } %>
  <#% if (nextPage !== null && nextPage == 2) {  %>
    <a href="/?page=<%= nextPage %>"><input onclick="changePage()" value="2" type="button" id="butt"></a>
  <#% } %> -->